.left {
    width: 40%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-right: 1px solid;
}

.container {
    display: inline-block;
    margin-left: 41%;
    width: 60%;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    width: 200px;
    text-align: left;
}

@font-face {
    font-family: "Satoshi-Bold";
    src: local("Satoshi-Bold"), url(./fonts/Satoshi-Bold.otf) format("truetype");
}