@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Bold.woff') format('woff'),
    url('../assets/fonts/Satoshi-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Regular.woff') format('woff'),
    url('../assets/fonts/Satoshi-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
